@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.preview {
   background-color: transparent;
   display: flex;
   flex-direction: column;
   flex-shrink: 0;

   position: absolute;
   z-index: 3;

   transition: height 0.5s ease-in-out;

   @include desktop {
      position: static;
   }

   &--open {
      width: 100%;
      height: 100%;

      @include desktop {
         padding: 0.5rem;
         width: 29.125rem;

         animation: slide-in 0.25s ease-in-out;

         @keyframes slide-in {
            from {
               transform: translateX(-100%);
               opacity: 0;
            }
            to {
               transform: translateX(0);
               opacity: 1;
            }
         }
      }
   }

   &--closed {
      width: 100%;
      height: 0;
      overflow: hidden;

      @include desktop {
         width: 0;
         height: 100%;
      }
   }

   &__close-arrow {
      width: 100%;
      display: flex;
      justify-content: center;

      @include desktop {
         display: none;
      }
   }

   &__container {
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      gap: 1rem;
   }

   &__info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
   }

   &__info-item {
      display: flex;
      gap: 1rem;

      &--location {
         align-items: center;
      }
   }

   &__title {
      font-size: 1.25rem;
      font-weight: 600;
   }

   &__marker-icon {
      height: 2.3125rem;
   }

   &__images {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      overflow: hidden;
   }

   &__image {
      width: 100%;
      height: 15.625rem;
      flex-shrink: 0;
      border-radius: $rounded-corner;
      overflow: hidden;
   }

   &__selected-image {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
   }

   &__thumbnails {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 0.3125rem;
      height: 100%;
      width: 100%;
      overflow-y: auto;
   }

   &__thumbnail-card {
      height: 6.25rem;
      border-radius: $rounded-corner;
      overflow: hidden;
   }

   &__thumbnail-image {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
   }
}
