@use "../../styles/partials/variables" as *;

.details {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;

   &__item {
      display: flex;
      gap: 1rem;

      &--location {
         align-items: center;
      }
   }

   &__collection-name {
      color: black;
      display: flex;
      gap: 1rem;

      &:hover {
         > p {
            text-decoration: underline;
         }
      }
   }

   &__user {
      display: flex;
      gap: 1rem;
   }

   &__link {
      text-decoration: none;
      display: flex;
   }

   &__title {
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: $rounded-corner;
      overflow: hidden;
      width: 100%;
      height: 100%;
   }

   &__marker-icon {
      height: 2.3125rem;
   }
}
