@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.collection {
   display: flex;
   flex-direction: column-reverse;

   @include desktop {
      flex-direction: row;
      height: 100%;
   }

   &__info {
      width: 100%;
      height: 100%;
      padding: 0.5rem 0.5rem 1rem 0.5rem;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include desktop {
         width: 29.125rem;
      }
   }

   &__comments {
      height: 100%;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      overflow-y: auto;
   }

   &__images {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      justify-content: space-between;
      width: 100%;
      overflow: hidden;

      @include desktop {
         padding-left: 1rem;
         padding-bottom: 1rem;
      }
   }

   &__main-image-container {
      height: 100%;
      width: 100%;
      background-color: black;
      display: flex;
      overflow: hidden;
   }

   &__main-image {
      width: 100%;
      object-fit: contain;
      object-position: center;
   }

   &__thumbnails {
      display: none;
      @include desktop {
         display: flex;
         width: 100%;
         gap: 0.5rem;
         overflow-x: auto;
         flex-shrink: 0;
      }
   }

   &__thumbnail-card-wrapper {
      width: 9.375rem;
      flex-shrink: 0;
   }

   &__thumb-loading {
      height: 6.25rem;
      width: 100%;
   }
}
