.header-container {
   padding: 0.5rem 3rem 0.5rem 3rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   // position: fixed;
   // top: 0;
   // left: 0;
   // right: 0;
   // z-index: 1;
}
